body {
  font-family: sans-serif;
  display: flex;
}

.topbox {
  background-color: #1F2937;
  flex: 1;
  width: 100vw;
}

.header {
  color: white;
  display: flex;
  padding: 0px 300px 100px 300px;
}
.logo {
  font-size: 24px;
}
 .hlinks {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-left: auto;
 }

 a {
  flex: 1;
  color: #E5E7EB;
  text-decoration: none;
}