body {
  font-family: sans-serif;
  display: flex;
}

.topbox {
  background-color: #1F2937;
  flex: 1;
  padding-bottom: 80px;
}

.header {
  color: white;
  display: flex;
  padding: 0px 250px 100px 250px;
}
.logo {
  font-size: 24px;
}

 .hlinks {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-left: auto;
 }

 a {
  flex: 1;
  color: #E5E7EB;
  text-decoration: none;
}

.topboxcontent {
  display: flex;
  flex-direction: row;
  padding: 0px 250px;
}

.topboxleft {
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.title {
  font-size: 48px;
  font-weight: extra-bold;
  padding-bottom: 10px;
}

.text {
  font-weight: lighter;
  padding-bottom: 20px; 
}

button {
  padding: 8px 20px; 
  border-radius: 8px;
  width: 100px;
  flex: 0;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

.topboxright {
  display: flex;
  width: 400px;
  height: auto;
  background-color: #E5E7EB;
  column-rule-color: #F9FAF8;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  
}